.table
{
    background-color:cadetblue;
     text-shadow: 20;
     font-style:italic;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    background-color: azure;
   color: black;
}
